/* 
    Author     : Bewust Kopen
*/

@font-face {
    font-family: 'Lato';
    font-style: normal;
    src: local('Lato'), url(../fonts/lato-regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Medula One';
    font-style: normal;
    src: local('Medula One Regular'), url(../fonts/medula-one-regular.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
}

h1, h2, h3, h4 {
    font-family: 'Medula One', cursive;
    margin-bottom: 10px;
}

h1 {
    font-size: 40pt;
}

h2 {
    font-size: 36pt;
}

h3 {
    font-size: 30pt;
}

h4 {
    font-size: 26pt;
}

a {
    color: #000000;
}

#wrapper {
    position: relative;
    min-height: 100%;
    height: auto;
    width: 100%;
}

nav#menu {
    float: left;
    width: 100%;
    height: 75px;
    display: inline-block;
    box-shadow: 0 1px 5px #000000;
}

#nav-buttons {
    float: right;
    height: 100%;
    z-index: 100;
}

.logo, .title, .menu-item {
    float: left;
}

.logo {
    display: flex;
    width: 75px;
    height: 45px;
    margin: 15px;
}

.logo a {
    height: 100%;
    width: 100%;
    line-height: 75px;
    text-decoration: none;
    text-align: center;
    border: none;
}

.title {
    background-color: #FFFFFF;
    font-size: 40pt;
    padding-left: 10px;
    border: none;
}

.title a {
    text-decoration: none;
}

.brand-primary {
    color: #F45F0A;
}

.brand-secondary {
    color: #6FD70B;
}

.menu-item {
    height: 75px;
    line-height: 75px;
    vertical-align: middle;
}

.menu-item a, .menu-item a span {
    font-family: 'Medula One', cursive;
}

.menu-button {
    border-left: 1px solid #999999;
    background-color: #C5F4A0;
    text-align: center;
}

.menu-button:hover {
    border-left: 1px solid #000000;
    box-shadow: 0 1px 5px #000000;
    text-decoration: underline;
}

.menu-button a {
    height: 100%;
    width: 100%;
    padding: 0 30px;
    line-height: 75px;
    font-size: 24pt;
    text-decoration: none;
}

.menu-button a.active {
    text-decoration: underline;
}

.search-box {
    border-left: 1px solid #999999;
}

#social-wrapper {
    float: left;
    height: 75px;
    padding: 0 10px;
}

.social-icon {
    height: 75px;
    line-height: 75px;
    vertical-align: middle;
    width: 30px;
    text-decoration: none;
}

.search-box {
    width: 200px;
    height: 100%;
    width: auto;
}

#title-bar {
    float: left;
    width: 100%;
    height: 75px;
    box-shadow: 1px 1px 2px #000000;
    padding: 10px 20px;
}

.breadcrumb {
    font-style: italic;
    padding-left: 100px;
}

#photocarousel-wrapper {
    position: relative;
    float: left;
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    z-index: -100;
}

.carousel-item {
    position: absolute;
    left: 100%;
    width: 100%;
    display: inline-block;
}

.carousel-item:first-child {
    left: 0;
}

#highlights-wrapper {
    float: left;
    width: 100%;
    min-height: 300px;
    box-shadow: 0 1px 5px #000000;
    z-index: 100;
}

.highlight {
    width: 33.33%;
    height: 100%;
    float: left;
    text-align: center;
}

.highlight-image {
    height: 100px;
    width: 100%;
    margin-top: 20px;
}

.highlight-title {
    text-decoration: none;
}

.highlight-text {
    margin: 10px auto;
    padding: 10px 15%;
}

#content {
    float: left;
    width: 100%;
    padding: 40px;
}

footer {
    float: left;
    width: 100%;
    min-height: 200px;
    background-color: #075503;
    color: #FFFFFF;
}

.footer-item {
    width: 33.33%;
    height: 100%;
    float: left;
    text-align: center;
    padding: 40px;
}

.footer-item a {
    color: #FFFFFF;
}

.footer-item p {
    margin: auto;
}

.copyright {
    font-style: italic;
}

#cookie-notice {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    z-index: 200;
}

#cookie-notice p, #cookie-notice a {
    color: #FFFFFF;
}

.button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: 1px solid;
    box-shadow: 1px 1px 2px #000000;
    cursor: pointer;
    font-size: 10pt;
}

.button:hover {
    box-shadow: none;
}

.button-default {
    background-color: #FFFFFF;
    border-color: #DDDDDD;
}

.button-default:hover {
    background-color: #DDDDDD;
    border-color: #000000;
}

.button-primary {
    background-color: #EFBF04;
    border-color: #666666;
}

.button-primary:hover {
    background-color: #EFBF04;
    border-color: #000000;
}

@media (max-width: 1330px) {
    .search-box {
        display: none;
    }
}

@media (max-width: 1200px) {
    .menu-button a {
        padding: 10px;
    }
}

@media (max-width: 950px) { 
    #photocarousel-wrapper {
        display: none;
    }
}
#team ul {
  list-style: none;
  margin: 0;
  padding: 0;
  
}
#team li {
  display: inline-block;
  margin: 50px;
    }

    #nav-buttons {
        display: none;
        position: absolute;
        right: 0;
        width: 200px;
        margin-top: 75px;
    }

    .menu-button {
        width: 100%;
    }

    .search-box {
        display: block;
        height: 75px;
        width: 100%;
        background-color: #C5F4A0;
        text-align: center;
    }

    .search-box input {
        width: 80%;
    }

    .menu-button-mobile {
        float: right;
        margin: 15px 15px;
        display: block;
        background: url(../images/menu.png) no-repeat;
        background-size: 40px 40px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    #social-wrapper {
        width: 100%;
        text-align: center;
    }

    .social-icon {
        margin: 0 10px;
    }


@media (max-width: 700px) {
    .highlight {
        width: 100%;
    }

    .footer-item {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .title {
        font-size: 30pt;
    }
}
